<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div *ngIf="afAuth.authState | async; let user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
  <hr>
  <p>Your appreciation counter stands at :
    <span>{{(currentLoggedInUser | async)?.appreciationCounter}}</span>
  </p>
  <!-- <button (click)="addTestUsers()">Create Test users</button> -->
  <p class="users">Users :</p>
  <ul>
    <li class="text" *ngFor="let user of otherUsers">
      <!-- {{user.id}} => {{user.name}} : {{user.appreciationCounter}} -->
      {{user.name}} : {{user.appreciationCounter}}
      <button (click)="appreciate(user)">Appreciate</button>
    </li>
  </ul>
  <hr>

</div>

<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>